.ajustes{
    .titulo2{
        color:white;
        text-transform: uppercase;
        background-color:#00c4cc;
        padding:50px;
    }
    .pesoAcciones{
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        .btn{
            margin-left: auto;
        margin-right: auto;
        }
        padding: 40px;
        border-radius: 3px;
    }
    h4{
        text-align: center;
        padding-bottom: 20px;
        font-weight: bold;
    }
}