@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.btn{
    font-family: Montserrat ;
}

.btn-active{
    border-radius: 5px;
    border: none;
    margin:10px 5px;
    padding: 10px 15px;
    background-color:#00c4cc;
    color:white;
    &:hover{
        background-color: #00d9e1;
        color:white;
    }
}

.formulario{
    .label{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        color:black;
    }
}

.titulo2{
    font-family: Montserrat;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;    
    line-height: 40px;

}

.titulo3{
    padding-top: 30px;
    font-family: Montserrat;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.box-blue{
    text-align: center;
    padding:50px;
    background-color:#00c4cc;
    border-radius:45px;
    min-width:300px;
}



.datepicker-group{
    .datepicker{
        max-width: 200px;
        display: inline-block;
        padding: 20px
    }
}

.dataTables_wrapper{
    font-family: 'Source sans pro';

    margin:40px;
    .pagination,.dataTables_filter{
        float: right;
    }
    table{
        margin: 20px 0;
    }
}

.basic-table .table{
    margin: 40px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Source sans pro';

}
.recharts-wrapper{
    font-family: Source sans pro;
    margin-left: auto;
    margin-right: auto;
}

.box-gray{
    background-color: #f5f5f5;
}

.fast-options{
    font-family: Montserrat;
    float: right;
    font-size: 13px;
    margin-top: 45px;
    padding: 0 11px;
    margin-right: 9px;
    label{
        font-weight: 100;
        padding-right: 6px;
    }

}
.btn-link{
    font-size: 13px;
    margin-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.charts{
    border-bottom: #ccc thin solid;
    margin-left: 20px;
    margin-right: 20px;
}

.react-tabs__tab-list{
    margin-bottom: 40px;
    font-family: Montserrat;
    color: #337ab7;
    border-color: #ccc;

    .react-tabs__tab--selected {
        border-color: #ccc;
    }
}

.return-btn{
    display: block;
    text-align: center;
    margin-bottom: 40px;
    svg{
        margin-right: 10px; 
    }
}