@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700');

.btn{

    font-family: Source Sans Pro;
}

.btn-active{
    border-radius: 5px;
    background-color:#00c4cc;
    &:hover{
        background-color: #00d9e1;
    }
}

.registro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    .formulario {
        display: flex;
        justify-content: center;
        flex-direction:column;
    }

    .label,.input{
        text-align: left;
        min-width: 30vw;
        padding: 5px;
        margin:5px;
    }
    .input{
        border-radius:3px;
        border-width: 1px
    }

}