/*.browser{
    text-align:center;

}*/

.dashboard{
    .titulo2{
        color:white;
        text-transform: uppercase;
        background-color:#00c4cc;
        padding:50px;
    }

    .dataTables_wrapper{
        margin:40px;
        .pagination,.dataTables_filter{
            float: right;
        }
        table{
            margin: 20px 0;
        }
    }
   
}