/*.browser{
    text-align:center;

}*/

.dashboard{
    .titulo2{
        color:white;
        text-transform: uppercase;
        background-color:#00c4cc;
        padding:50px;
    }

    .dataTables_wrapper{
        font-family: 'Source sans pro';

        margin:40px;
        .pagination,.dataTables_filter{
            float: right;
        }
        table{
            margin: 20px 0;
        }
    }
    .recharts-wrapper{
        font-family: Source sans pro;
        margin-left: auto;
        margin-right: auto;
    }
    .datepicker-group{
        .datepicker{
            max-width: 200px;
            display: inline-block;
            padding: 20px
        }
    }
   
}