.home {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    padding-top: 30vh;
    background:no-repeat url("../img/ellipse1.png") 19% 8%, no-repeat url("../img/ellipse2.png") 92% 100%;
    height: 70vh;
    & > div{
        justify-content: center;
        max-height: 133px;

        .cdn-input{
            padding: 5px;
            font-family: Montserrat;
            font-size: 26px;
            color: white;
            font-weight: bold;
        }
        button{
            background-color:white;
            height: 32px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            border: #ddd thin solid;
            cursor: pointer;
        }
    }
}  